<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Live Physics Enviornment</title>
    <link rel="stylesheet" href="stylesheets/demo.css">
    <script src="javascripts/raphael.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="javascripts/requestAnimationFrame.js"></script>
    <script src="javascripts/main.js"></script>
  </head>
  <body>
    <div id="smashbar">
      Smashing<span>Labs</span>
    </div>
    <header>
      <h1>Live Physics Enviornment</h1>
    </header>
    <div id="holder"></div>

    <aside>
      <h2>Activity Log</h2>
      <ul class="log"></ul>


      <h2>Stats:</h2>
      <div id="stats"></div>
    </aside>
    <footer></footer>
  </body>
</html>
